@import url(media\Montserrat-Light.ttf);

@media (max-width: 768px) {
    .logo {
        width: 70%;
    }
}


:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

body {
    background-image: url(praia.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
    padding: 2rem;
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    margin: 2vw;
    width: 100%;
}

#logo-branco {
    width: 8rem;
}

.navbar {
    width: 100%;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.navegação {
    text-decoration: none;
    color: #ffffff;
    margin: 1vw;
    font-size: 1.5rem;
}

a,
a:active {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    font-weight: bold;
}

.btn-vendida:hover {
    font-weight: normal;
    box-shadow: none;
}

.div-texto-capa {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 15vw;
}

#texto-capa {
    font-style: italic;
    width: 40%;
    color: #ffffff;
    margin: 0vw 5vw;
    padding-top: 6vw;
}

#gradiente {
    width: 100%;
    height: 30vw;
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #00182e 61.38%);
}

#pronto-para-morar,
.row,
.rodape,
.box-casa01 {
    background-color: #00182e;
    color: #ffffff;
}

.card {
    color: #00182e;
}

#pronto-para-morar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ana-paula {
    width: 100%;
}

#img-fachada {
    float: right;
}

.box-titulo,
.box-cards,
.box-descricao,
.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw 1vw;
}

.display-6,
.video-casa01,
.box-localizacao,
.box-vendidos {
    margin-top: 3rem;
    text-align: center;
}


.dl-row {
    width: 60%;
    line-height: 2rem;
}

.box-localizacao {
    width: 60%;
    margin-bottom: 5vw;
}

.gradiente2 {
    background: linear-gradient(180deg, #00182e 0%, #ffffff 61%);
    height: 15vw;
}

.logo {
    width: 30%;
    margin-bottom: 5vw;
}

.rodape {
    margin: unset;
    text-align: center;
    line-height: 1.5;
    height: 3vw;
}

.letra-menor {
    font-size: 0.75rem;
}